modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41524154
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "bash run-deployment.sh"]
